h1, ul {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border:none;
}
input:focus {
  outline: none;
}

$white: white;
$black: #333333;
$modal: rgba(0, 0, 0, .5);
$blue: #0073bb;
$gray: #666;
$content-width: 960px;
$green: #41a700;
$yelpy-red: #d32323;
$normal-text: #333333;
$mid-text: #666666;
$subtle-text: #999999;
$ghost-text: #999999;
$border-color: #cccccc;
$box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .2);

$colorFiveStar: red;
$colorFourStar: #f73;
$colorThreeStar: #fa2;
$colorTwoStar: #eb2;
$colorOneStar: #d92;

.search {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  .search-form {
    background-color: $yelpy-red;
    padding: 8px 10px;
  }

  .search-form-controls {
    color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 34px;

    .search-logo {
      max-height: 100%;
    }

    .search-button-search {
      font-weight: 700;
    }
  }

  .search-box {
    background-color: $white;
    border-radius: 4px;
    margin-top: 8px;
    padding: 6px;
    height: 22px;
    display: flex;
    align-items: center;

    .search-icon {
      height: 22px;
      margin-right: 5px;
    }

    .search-input {
      font-size: 16px;
      flex-grow: 1;
    }
  }

  .search-suggestions {
    background-color: $modal;
    bottom: 0;
    display: none;
    left: 0;
    list-style-type: none;
    position: absolute;
    right: 0;
    top: 134px;

    .search-suggestion {
      align-items: center;
      background-color: $white;
      color: $black;
      display: flex;
      height: 24px;
      padding: 10px 12px;

      .search-suggestion-icon {
        fill: $gray;
        height: 24px;
        margin-right: 12px;
      }
    }
  }

  .location-suggestions {
    background-color: $modal;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 134px;
    display: none;
  }

  .list-item {
    align-items: center;
    background-color: $white;
    color: $black;
    display: flex;
    height: 24px;
    padding: 10px 12px;

    &-icon {
      fill: $gray;
      height: 24px;
      margin-right: 12px;
    }
  }

  .list-item--blue {
    color: $blue;

    .list-item-icon {
      fill: $blue;
    }
  }

  .search-input---phrase:focus+.search-suggestions {
    display: block;
  }

  .search-input--location:focus+.location-suggestions {
    display: block;
  }
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  margin-top: 134px;
}
.category-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  height: 90px;
  justify-content: center;
  margin: 5px;
  text-align: center;
  width: 90px;
}

.category-icon {
  width: 50px;
  object-fit: contain;
}

.localHeader {
  margin-left: 8px;
}

.listings {
  padding: 0 8px;
}

.listing {
  color: $gray;
  display: flex;
  font-size: 14px;
  border-top: 1px solid $border-color;
  padding-bottom: 15px;
  padding-top: 15px;

  .listing-photo {
    border-radius: 5px;
    height: 80px;
    margin-right: 8px;
  }

  .details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .listing-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2px;

    .name {
      color: $black;
      font-size: 16px;
      font-weight: 700;
    }
    .distance {
      font-size: 12px;
      font-weight: 400;
    }
  }

  .reviews {
    font-size: 12px;
  }


  .tags {
    color: $blue;
    font-size: 12px;
  }
  .listing-address {
    font-size: 12px;
    margin-bottom: 2px;
  }
  .bullet-after::after {
    content: "•";
    position: relative;
    top: -1px;
    margin: 0 3px;
    color: #999;
    font-size: 10px;
    line-height: 18px;
  }

  .listing-info {
    margin-bottom: 2px;
  }
}

.listing-rating {
  display: flex;
  margin-bottom: 2px;
  align-items: center;
}

.star-rating {
  width: 82px;
  height: 14px;
  margin-right: 4px;
}

.star-rating--three-half {
  background-image: url('./assets/stars.png');
  background-position: 0 -504px;
}
.star-rating--four {
  background-image: url('./assets/stars.png');
  background-position: 0 -518px;
}
.star-rating--four-half {
  background-image: url('./assets/stars.png');
  background-position: 0 -532px;
}
